<h2>Welcome, <%= @user.username %></h2>
<h3>Create New Tweet</h3>
<form method="POST" action="/tweets">
  <label for="content">Your Tweet:</label>
</br>
  <textarea rows="3" cols="50"
  id="content" name="content">
</textarea>
</br>
</br>
  <input type="submit" id="submit">
</form>
