
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content" value="i am a boss at tweeting"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">
    <input type="submit" id="delete" value="Delete Tweet">
    <input type="submit" id="edit" value="Edit Tweet">
  </form>
