
<h1>Welcome, <%=@user.username%></h1>
<<<<<<< HEAD
<%if @tweets%>
  <%@tweets.each do |tweet|%>
    <p><%=tweet.content%></p>
  <%end%>
<%end%>
=======
<!-- # <%if @tweets%>
#   <%@tweets.each do |tweet|%>
#     <p><%=tweet.content%></p>
#   <%end%>
# <%else%>
#   <p>You have no Tweets</p>
# <%end%> -->
>>>>>>> ab9775b76e61d0c7d6f553057566ef32fd63bf6f
