<h1>Log in</h1>

<form method="POST" action="/users/login">
    <p>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </p>
</form>