<h1>Welcome,</h1>
<br></br>
<h2> Login To Your Account </h2>

<form action="/login" method="POST">
<label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br></br>
<label for="password">Password:</label>
  <input type="text" name="password" id="password">
  <br></br>
<input type="submit" id="submit" value="login">
</form>
