<!DOCTYPEhtml>
<html>
<title>Welcome!</title>
  <head>
  <h1> Welcome to Fwitter!</h1>
</head>
<body>
  <h3>Select one of the options below:</h3>
  <p> If You're a New User Please Click The Signup Link </p>
<ul>
  <li><a href="/signup">Signup</li>
  </br>
  <li><a href="/login">Login</li>
</ul>
</body>
