<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <%if logged_in?(session) %>
    Welcome <%= current_user(session).username %>
    <% else %>
    <a href="/users/login">Log in</a> <a href="/users/new">Sign up</a>
    <% end %>
    <%= yield %>
  </body>
</html>
