<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  Welcome to Fwitter
    <%if logged_in?(session) %>
    Welcome, <%= current_user(session).username %>
    <% else %>
    Welcome, <a href="/login">Log in</a> <a href="/signup">Sign up</a>
    <% end %>
    <%= yield %>
  </body>
</html>
